body {
    background: rgba(141, 138, 138, 0.459);
}
div[name="title"] {
    display: flex;
    justify-content: center;
}

div[name=answer] {
    display: flex;
    justify-content: center;
}

div[name=dialogues] {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dialogue {
    display: flex;
    justify-content: center;
}

button {
    height: 40px;
    background-color: lightsteelblue;
}